header{
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 4;
    padding: 30px 0px;
    background-color: transparent;
    transition: .3s;
    color: white;
}
.scrolled{
    background-color: #00102D;
    padding: 15px 0px;
}
header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 150px;
}
header img{
    height: 50px;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav li{
    transition: .8s;
    font-size: 15px;
    font-family: sans-serif;
    text-decoration-color: transparent;
}
nav li:hover, nav .active{
    text-decoration: underline;
    text-decoration-color: white;
    
}
.scrolled li:hover, .scrolled .active{
    color: #6f6ffc;
    text-decoration-color: #6f6ffc;
}
header button{
    background-color: transparent;
    color: white;
    border: none;
    display: none;
}
header a{
    color: white;
    text-decoration: none;
}
@media (max-width: 1000px){
    header>div{
        padding: 0px 100px;
    }
}
@media (max-width: 800px){
    header>div{
        padding: 0px 50px;
    }
}
@media (max-width: 500px){
    header button{
        display: block;
    }
    .headerFocus{
        background-color: #00102D;
    }
    nav{
        max-height: 0px;
        overflow: hidden;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transform: translateY(100%);
        transition: .5s;
    }
    nav ul{
        gap: 0px;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        
    }
    nav li{
        background-color: #00102D;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    nav.show{
        display: block;
        max-height: 200px;
    }
}